<ng-template #editMetaBookModal>
  <div class="modal-header">
    <h4 class="modal-title" id="submit-modal-title">edit meta book</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Title</mat-label>
        <input type="text" matInput
               id="title" placeholder="title"
               [(ngModel)]="showMetaBook.title" required>
        <div class="invalid-feedback">
          Valid book title is required.
        </div>
      </mat-form-field>
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Subtitle<span class="text-muted">(Optional)</span></mat-label>
        <input type="text" matInput
               id="subtitle"
               [(ngModel)]="showMetaBook.subtitle" placeholder="subtitle">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Author</mat-label>
        <input type="text" matInput
               id="author" placeholder="author"
               [(ngModel)]="showMetaBook.author" required>
        <div class="invalid-feedback">
          Valid Author is required.
        </div>
      </mat-form-field>
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Publisher</mat-label>
        <input type="text" matInput
               id="publisher" placeholder="publisher"
               [(ngModel)]="showMetaBook.publisher" required>
        <div class="invalid-feedback">
          Valid Publisher is required.
        </div>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Cover Url<span>(Optional)</span></mat-label>
        <input type="text" id="cover" matInput
               [(ngModel)]="showMetaBook.cover" placeholder="cover url">
      </mat-form-field>

      <mat-form-field class="col-md-3 mb-3">
        <mat-label>Category</mat-label>
        <input type="text" id="category" matInput
               [(ngModel)]="showMetaBook.category" placeholder="category" required>
      </mat-form-field>

      <mat-form-field class="col-md-3 mb-3">
        <mat-label>Price<span>(Optional)</span></mat-label>
        <input type="text" id="price" matInput
               [(ngModel)]="showMetaBook.price" placeholder="cover url">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-6 mb-3">
        <mat-label>Keywords<span>(Optional)</span></mat-label>
        <input type="text" matInput
               id="keywords"
               [(ngModel)]="showMetaBook.keyword" placeholder="keywords">
      </mat-form-field>

      <mat-form-field class="col-md-3 mb-3">
        <mat-label>Publish Year<span>(Optional)</span></mat-label>
        <input type="text" matInput
               id="publish_year"
               [(ngModel)]="showMetaBook.publish_year" placeholder="publish year">
      </mat-form-field>

      <mat-form-field class="col-md-3 mb-3">
        <mat-label>Pages<span>(Optional)</span></mat-label>
        <input type="number" matInput
               id="pages"
               [(ngModel)]="showMetaBook.pages" placeholder="pages">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="mb-4 col-md-12">
        <mat-label>Summary<span>(Optional)</span></mat-label>
        <textarea matInput id="summary" rows="5"
                  [(ngModel)]="showMetaBook.desc_html" placeholder="summary"></textarea>
      </mat-form-field>
    </div>

    <button type="button" mat-button (click)="submit_edit_metabook()">update information</button>
  </div>
</ng-template>


<ng-template #editLocationModal>
  <div class="modal-header">
    <h4 class="modal-title" id="location-modal-title">edit meta book</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-4">
      <mat-label>Book Location</mat-label>
      <div class="form-row">
        <mat-form-field class="col">
          <input matInput type="text" placeholder="Room" name="room" [(ngModel)]="location.room" required>
          <span matSuffix> - </span>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput type="text" placeholder="Shelf" name="shelf" [(ngModel)]="location.shelf" required>
          <span matSuffix> - </span>
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput type="text" placeholder="Level" name="level" [(ngModel)]="location.level" required>
        </mat-form-field>
      </div>
    </div>

    <button type="button" mat-button (click)="submit_edit_location()">update information</button>
  </div>
</ng-template>

<div class="app-wrapper">
  <div *ngIf="metaBook">
    <h2> {{ metaBook.title }} </h2>
    <div class="lead">{{ metaBook.subtitle }}</div>

    <div class="detail" >
      <div class="detail-attr">
        <button class="badge badge-info">{{metaBook.author}}</button>
        <div><span>ISBN: </span>{{metaBook.isbn}}</div>
        <div><span>Publisher: </span> {{metaBook.publisher}}</div>
        <div *ngIf="metaBook.category && metaBook.category !== 'All'">
          <span>Category: </span>
          <span class="badge badge-pill badge-secondary">{{ metaBook.category }}</span>
        </div>
        <div *ngIf="metaBook.publish_year && metaBook.publish_year !== 1900"><span>Publish year: </span>{{metaBook.publish_year}}</div>
        <div *ngIf="metaBook.pages && metaBook.pages !== -1"><span>Pages: </span>{{metaBook.pages}}</div>
        <div *ngIf="metaBook.keyword"><span>Keywords: </span>{{metaBook.keyword}}</div>
        <div *ngIf="metaBook.price && metaBook.price !== -1"><span>Price: </span>{{metaBook.price}}</div>
      </div>

      <div class="detail-img">
        <img src="{{ metaBook.cover }}" width="180" height="220" alt="cover" referrerPolicy="no-referrer">
      </div>
    </div>

    <h4>Description</h4>
    <hr>
    <div id="desc_html block_quote" [innerHtml]="metaBook.desc_html"></div>
  </div>

  <br>

  <div class="alert alert-info" role="alert" *ngIf="books.length === 0">
    This book is not in Library!
  </div>

  <div class="table-responsive" *ngIf="books.length !== 0">
    <table class="table table-hover table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Barcode</th>
          <th scope="col">BookLocation</th>
          <th scope="col">Add Time</th>
          <th scope="col">Available</th>
          <th scope="col" *ngIf="login==='librarian'">operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of visualize(books); let i = index; first as isFirst">
          <th scope="row">{{i}}</th>
          <td>{{x.barcode}}</td>
          <td>{{x.location}}</td>
          <td>{{ get_date_time(x.add_time) }}</td>
          <td>{{x.available}}</td>
          <td *ngIf="login==='librarian'">
            <button type="button" class="btn btn-sm" placement="top" (click)="open_edit_location($event, editLocationModal)" ngbTooltip="edit location">
              <i class="fa fa-edit"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-sm" placement="top" (click)="remove_book($event)" ngbTooltip="remove this book">
              <i class="fa fa-eraser"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-sm" placement="top" (click)="download_barcode($event)" ngbTooltip="download barcode">
              <i class="fa fa-barcode"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="reader_operation" *ngIf="login==='reader'">
    <div *ngIf="!reserve">
      <button type="button" class="btn btn-info" (click)="reserve_book()" [disabled]="disable_reserve()">
        reserve this book
      </button>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="reserve">
      You have reserve this book, you should borrow it before {{ get_reserve_time(reserve.valid_until) }}
    </div>
  </div>
  <div id="librarian_operation" *ngIf="login==='librarian'">
    <button type="button" class="btn btn-info" (click)="modalService.open(editMetaBookModal, { size: 'lg' })">
      edit meta book information
    </button>
  </div>
</div>
