.detail {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.detail-img {
  width: 180px;
}

