<div class="app-wrapper">
  <div class="py-5 text-center">
  <h1 class="display-4">Personal Profile</h1>
</div>


  <div class="col-md order-md-1">
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="username"><span class="input-group-text">Username</span></label>
      </div>
      <input type="text" class="form-control" id="username"
             placeholder="username" required disabled
             [(ngModel)]="showReader.username">
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="nickname"><span class="input-group-text">Nickname</span></label>
      </div>
      <input type="text" class="form-control" id="nickname"
             placeholder="nickname" [(ngModel)]="showReader.nickname" required>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="email"><span class="input-group-text">Email</span></label>
      </div>
      <input type="email" class="form-control" id="email"
             placeholder="email address" [(ngModel)]="showReader.email" required>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="address"><span class="input-group-text">Address</span></label>
      </div>
      <input type="text" class="form-control" id="address"
             placeholder="your address" [(ngModel)]="showReader.address" required>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="slogan"><span class="input-group-text">Slogan</span></label>
      </div>
      <input type="text" class="form-control" id="slogan"
             placeholder="slogan" [(ngModel)]="showReader.slogan" required>
    </div>

    <button type="button" class="btn btn-info" (click)="submit()">update Account</button>
</div>
