<div class="app-wrapper">
  <div class="py-5 text-center">
  <h1 class="display-4">Personal Profile</h1>
</div>


  <div class="col-md order-md-1">
    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="username"><span class="input-group-text">username</span></label>
      </div>
      <input type="text" class="form-control" id="username"
             placeholder="username" required
             [(ngModel)]="reader.username">
      <div class="invalid-feedback">
        username is required.
      </div>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="nickname"><span class="input-group-text">nickname</span></label>
      </div>
      <input type="text" class="form-control" id="nickname"
             placeholder="nickname" [(ngModel)]="reader.nickname" required>
    </div>

    <div class="input-group mb-3 form-row">
      <div class="input-group-prepend">
        <label for="email"><span class="input-group-text">email</span></label>
      </div>
      <input type="email" class="form-control" id="email"
             placeholder="email address" [(ngModel)]="reader.email" required>
    </div>

    <button type="button" class="btn btn-info" (click)="submit()">add Account</button>
</div>
