<div class="app-wrapper">
  <div class="py-3">
    <h1 class="display-3">Reset Password</h1>
  </div>

  <p>Input your username. Click 'Send Email', you will receive an email. Then input the token on the email and reset the password.</p>

  <section class="example-section">
    <mat-slide-toggle
      class="example-margin"
      color="primary"
      (change)="change_check($event)"
      [checked]="toggle_check">
      I have got email yet.
    </mat-slide-toggle>
  </section>

  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Username"
           [(ngModel)]="user" required>
  </mat-form-field>

  <div *ngIf="!checked">
    <button mat-raised-button color="primary" (click)="send_mail()">Send Email</button>
  </div>


  <div *ngIf="checked">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Token"
             [(ngModel)]="token" required>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="new password"
             [(ngModel)]="password" required>
    </mat-form-field>
  </div>

  <div *ngIf="checked">
    <button mat-raised-button color="warn" (click)="reset_password()">Reset Password</button>
  </div>
</div>



