<div class="app-wrapper">
    <div class="py-4 text-center">
        <h1 class="display-6">View reader's fine</h1>
    </div>

    <form class="form-inline">
      <div class="form-group mb-2">
        <label>Please input reader's id</label>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="reader-id" class="sr-only">Password</label>
        <input [(ngModel)]="userId" (keyup.enter)="getFine()" id="reader-id"
              class="form-control" name="id"
              placeholder="Please input reader's id">
      </div>
      <button type="submit" (click)="getFine()" class="btn btn-primary mb-2">Submit</button>
    </form>

    <div class="alert alert-success" role="alert">
        <h2 class="alert-heading">User: {{userName}}</h2>
        <p style="font-size:32px;">{{userName}} has been fined ${{userFine}}</p>
      </div>
</div>
