<div class="app-wrapper jumbotron">
  <h1 class="display-4">Bibliosoft Group</h1>
  <p class="lead">
    Made by Xidian University Project Management Course Team B1.
  </p>
  <hr class="my-4">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chen JiaRui
        </mat-panel-title>
        <mat-panel-description>
          Project Manager/ Frontend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Yao XiangYu
        </mat-panel-title>
        <mat-panel-description>
          Backend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zhang ShuPei
        </mat-panel-title>
        <mat-panel-description>
          Backend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Zhang ChangYu
        </mat-panel-title>
        <mat-panel-description>
          Frontend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Yang Hang
        </mat-panel-title>
        <mat-panel-description>
          Backend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wang YiJie
        </mat-panel-title>
        <mat-panel-description>
          Frontend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shi MingHao
        </mat-panel-title>
        <mat-panel-description>
          Frontend Engineer
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <h4>More About this Software</h4>

  <p class="lead">
    For the backend, ...
  </p>

  <p class="lead">
    For the frontend, ...
  </p>
  <br>

  <button mat-button color="primary" href="https://blog.ciaran.cn" role="button">Learn more</button>
</div>
