<div class="container">

  <div class="inputgroup">
    <div class="py-5 text-center">
      <h1 class="display-4">Book Search <span class="badge badge-secondary">{{UserName}}</span>
        <nav>
          <h5 class="py-6" style="margin:10px">
            <a routerLink='/add_book'>add_book</a>
          </h5>
        </nav>
      </h1>

    </div>
  </div>
  
  <div class="row">
    <div class="input-group">
      <input [(ngModel)]="search_text" (keyup.enter)="onClick('title')" class="form-control input-lg" placeholder="book information"
        id="search_book" >
      <!-- <button class="btn btn-info btn-search">查找</button> -->
      <button data-loading-text="Loading..." placement="top" ngbTooltip="Search {{search_text}} by title "(click)="onClick('title')" value="title" class="btn btn-success btn-search" style="margin-left:5px">Search
        title</button>
      <div ngbDropdown class="d-inline-block">
        <span class="btn btn-outline-warning" style="margin-left:3px" id="dropdownBasic1" ngbDropdownToggle>Other Types</span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="onClick('ISBN')" class="dropdown-item" value="ISBN">ISBN</button>
          <button (click)="onClick('author')" class="dropdown-item" value="author">Author</button>
          <button (click)="onClick('date')" class="dropdown-item" value="date">Date</button>
          <button (click)="onClick('summary')" class="dropdown-item" value="summary">Summary</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedbook">
    <!-- 书籍详情 -->
    <p>
      <ngb-alert [dismissible]="true" type='info' (close)="closeAlert()">
        <strong>{{selectedbook.title|uppercase}}'s Summary</strong> <span class="text">
          {{selectedbook.summary}}
        </span>

      </ngb-alert>
    </p>

  </div>

  <div *ngIf="books">
   <div class="table-responsive table-hover">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Date</th>
            <!-- <th>Summary</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of books" (click)="onSelect(x)" [class.selected]="x===selectedbook">
            <td><a routerLink="/detail/{{x.ISBN}}">{{x.title}}</a></td>
            <td>{{x.ISBN}}</td>
            <td>{{x.author}}</td>
            <td>{{x.date}}</td>
            <!-- <td>{{x.summary}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>

  </div>



</div>
