<div class="app-wrapper">
  <div class="py-3 text-center">
    <h2 class="display-4">
      Borrow: {{ borrow.id }}
    </h2>
  </div>

  <div id="about-borrow">
    <p>Borrowed from {{ borrow.borrow_time }}</p>
    <p *ngIf="borrow.return_time">Returned at {{ borrow.return_time }}</p>
    <p *ngIf="borrow.fine !== 0">This Borrow takes {{borrow.fine}} yuan</p>
    <p *ngIf="!borrow.return_time">This book is not returned</p>
  </div>

  <mat-card class="full-width">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>About this Book: {{ metaBook.title }}</mat-card-title>
      <mat-card-subtitle>barcode: <a (click)="download_barcode()">{{borrow.barcode}}</a> located at {{book.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ metaBook.keyword }}
      <div [innerHtml]="metaBook.desc_html"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/book/{{metaBook.isbn}}" color="primary">go to see this book</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="full-width">
    <mat-card-header>
      <mat-card-title>
        Reader:
        <a routerLink="{{ stateService.role === 'reader'? '/reader/profile': '/librarian/reader/profile/' + reader.username }}">
          {{reader.username}}
        </a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> email: {{ reader.email }} </p>
      <p *ngIf="reader.slogan">{{reader.slogan}}</p>
    </mat-card-content>
  </mat-card>

  <!--*ngIf="stateService.role === 'librarian'"-->
  <mat-card class="full-width" *ngIf="false">
    <mat-card-header>
      <mat-card-title>
        Librarian:
        <a routerLink="/librarian/others/{{ librarian.username }}">
          {{librarian.username}}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> email: {{ librarian.email }} </p>
      <p *ngIf="librarian.slogan">{{librarian.slogan}}</p>
    </mat-card-content>
  </mat-card>
</div>
