<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="app-wrapper">
  <div class="py-3 text-center">
    <h1 class="display-3">Add Book</h1>
  </div>

  <!-- todo: mat-error -->
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Input ISBN</ng-template>
        <mat-form-field style="width: 50%;">
          <input matInput placeholder="ISBN"
                 [(ngModel)]="isbn"
                 formControlName="isbnCtrl" required>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious hidden>Back</button>
        <button mat-button matStepperNext (click)="check_isbn()">Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Book Information</ng-template>
        <p>{{ loadingWords }}</p>
        <p>{{ loadingResult }}</p>
        <div *ngIf="!isbnExist">
          <div class="row">
            <mat-form-field class="col-md-6 mb-3">
              <mat-label>Title</mat-label>
              <input type="text" matInput
                     id="title" placeholder="title" formControlName="titleCtrl"
                     [(ngModel)]="book.title" required>
              <div class="invalid-feedback">
                Valid book title is required.
              </div>
            </mat-form-field>
            <mat-form-field class="col-md-6 mb-3">
              <mat-label>Subtitle<span class="text-muted">(Optional)</span></mat-label>
              <input type="text" matInput
                     id="subtitle" formControlName="subtitleCtrl"
                     [(ngModel)]="book.subtitle" placeholder="subtitle">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6 mb-3">
              <mat-label>Author</mat-label>
              <input type="text" matInput
                     id="author" placeholder="author" formControlName="authorCtrl"
                     [(ngModel)]="book.author" required>
              <div class="invalid-feedback">
                Valid Author is required.
              </div>
            </mat-form-field>
            <mat-form-field class="col-md-6 mb-3">
              <mat-label>Publisher</mat-label>
              <input type="text" matInput
                     id="publisher" placeholder="publisher" formControlName="publisherCtrl"
                     [(ngModel)]="book.publisher" required>
              <div class="invalid-feedback">
                Valid Publisher is required.
              </div>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-10 mb-3">
              <mat-label>Cover Url<span>(Optional)</span></mat-label>
              <input type="text" id="cover" matInput formControlName="coverCtrl"
                     [(ngModel)]="book.cover" placeholder="cover url">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6 mb-3">
              <mat-label>Keywords<span>(Optional)</span></mat-label>
              <input type="text" matInput
                     id="keywords" formControlName="keywordCtrl"
                     [(ngModel)]="book.keyword" placeholder="keywords">
            </mat-form-field>

            <mat-form-field class="col-md-3 mb-3">
              <mat-label>Publish Year<span>(Optional)</span></mat-label>
              <input type="text" matInput
                     id="publish_year" formControlName="publishYearCtrl"
                     [(ngModel)]="book.publish_year" placeholder="publish year">
            </mat-form-field>

            <mat-form-field class="col-md-3 mb-3">
              <mat-label>Pages<span>(Optional)</span></mat-label>
              <input type="number" matInput
                     id="pages" formControlName="pagesCtrl"
                     [(ngModel)]="book.pages" placeholder="pages">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="mb-4 col-md-12">
              <mat-label>Summary<span>(Optional)</span></mat-label>
              <textarea matInput id="summary" rows="3" formControlName="summaryCtrl"
                        [(ngModel)]="book.desc_html" placeholder="summary"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Input more information</ng-template>
        <p>More Information in here.</p>
        <div class="row">
          <div class="col-md-4">
            <mat-label>number</mat-label>
            <div class="form-row">
              <mat-form-field class="full-width">
                <input type="number" matInput id="number"
                       placeholder="book number" formControlName="numberCtrl"
                       [(ngModel)]="bookNumber" required>
                <!--<div class="invalid-feedback">-->
                <!--Valid book number is required.-->
                <!--</div>-->
              </mat-form-field>
            </div>
          </div>

          <div class="mb-4">
            <mat-label>Location*</mat-label>
            <div class="form-row">
              <mat-form-field class="col">
                <input matInput type="text" placeholder="Floor" name="floor" [(ngModel)]="room" formControlName="roomCtrl" required>
                <span matSuffix> - </span>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput type="text" placeholder="Shelf" name="shelf" [(ngModel)]="shelf" formControlName="shelfCtrl" required>
                <span matSuffix> - </span>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput type="text" placeholder="Level" name="level" [(ngModel)]="level" formControlName="levelCtrl" required>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="submitAddBook()">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let val of returnValues">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ val.barcode }}
            </mat-panel-title>
            <mat-panel-description>
              {{ val.add_time }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <svg class="barcode"
               [attr.jsbarcode-value]="val.barcode"
               jsbarcode-textmargin="0"
               jsbarcode-fontoptions="bold"></svg>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <div>
        <button mat-button routerLink="/book/{{isbn}}" color="primary">to book detail page</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
