<div class="app-wrapper">
  <div class="py-3 text-center">
    <h1 class="display-4">Fine Record</h1>
  </div>
  <div class="table-responsive table-hover">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Paid</th>
        </tr>
      </thead>
      <!--<tbody *ngIf="payments.length!==0">-->
        <!--<tr *ngFor="let x of payments" >-->
        <!--</tr>-->
      <!--</tbody>-->
    </table>
  </div>
  <h2 class="col-mb-3">payment info</h2>
  <!--<div class="alert alert-info" >-->
    <!--<p>You have already paid $ {{pay}}</p>-->
  <!--</div>-->
</div>
