<!-- message from last page -->
<div [ngClass]="['alert', 'alert-dismissible', 'fade', 'show', message.type]" role="alert" *ngIf="message.msg!==''">
  <strong>{{ message.title }}</strong>{{ message.msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- messageService -->
<div *ngFor="let message of messageService.messages">
  <div [ngClass]="['alert', 'alert-dismissible', 'fade', 'show', message.type]" role="alert">
    <strong>{{ message.title }}</strong>{{ message.msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
