footer, .navbar {
  opacity: 0.8;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 71px 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.app-wrapper {
  width: 1080px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 50px 33px 50px;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .app-wrapper {
    padding: 177px 90px 33px 85px;
  }
}

@media (max-width: 768px) {
  .app-wrapper {
    padding: 100px 80px 33px 80px;
  }
}

@media (max-width: 576px) {
  .app-wrapper {
    padding: 100px 15px 33px 15px;
  }
}

