<div class="app-container">

  <app-navbar></app-navbar>

  <div class="message-top">
    <app-message></app-message>
  </div>

  <router-outlet></router-outlet>

  <footer class="page-footer font-small bg-dark fixed-bottom">
    <!-- Copyright -->
    <div class="text-center py-3 text-white">
      © 2018 Copyright
      <a href="https://blog.ciaran.cn"> Bibliosoft group </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- About us -->
      <a routerLink="/about">
        <i class="fa fa-info-circle"></i>
        About us
      </a>
    </div>
  </footer>

</div>
