
<div class="app-wrapper">
  <div class="input-group mb-3">
    <input type="text" class="form-control form-control-lg"
           placeholder="Search..."
           [(ngModel)]="search_text"
           (keyup.enter)="search_book()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" placement="top" ngbTooltip="Search" (click)="search_book()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div>
    Search Result will show below:
  </div>

  <div class="search_results">
    <div *ngIf="books">
      <div class="table-responsive table-hover">
        <table class="table">
          <thead>
          <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>publisher</th>
            <!--<th ngIf="">Operation</th>-->
          </tr>
          </thead>
          <tbody>
          <!-- (click)="onSelect(x)" [class.selected]="x===selectedbook" -->
          <tr *ngFor="let x of books"
              ngbPopover="{{ format_book(x) }}">
            <td><a routerLink="/book/{{x.isbn}}">{{x.title}}</a></td>
            <td>{{x.isbn}}</td>
            <td>{{x.author}}</td>
            <td>{{x.publisher}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

