<div class="login-wrapper">
  <div class="login100-pic js-tilt" data-tilt>
    <!--suppress HtmlUnknownTarget -->
    <img src="/assets/images/logo.png" alt="Biblisoft icon image">
  </div>

  <form class="login100-form validate-form">
    <span class="login100-form-title">
      {{ upper_role() }} Login
    </span>

    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
      <input class="input100" type="text" name="user" placeholder="username" [(ngModel)]="user">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-user" aria-hidden="true"></i>
      </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Password is required">
      <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="pass">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>

    <div class="container-login100-form-btn">
      <button type="button" class="login100-form-btn" (click)="user_login()">
        Login
      </button>
    </div>

    <div class="text-center p-t-75">
      <a class="txt2" routerLink="/login/{{ otherRole }}">
        login as a {{ otherRole }}
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
      </a>
    </div>
  </form>
</div>
