<div class="app-wrapper">
  <div class="py-5 text-center">
    <h1 class="display-4">Return Book</h1>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="reader">Reader username</label>
      <input type="text" id="reader" class="form-control"
             [(ngModel)]="readerId" placeholder="username" (blur)="search_reader()">
    </div>
  </div>

  <div>
    <label for="borrow-book">Borrow</label>
    <div id="borrow-book" *ngFor="let x of borrowed">
        <div class="form-check" >
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            {{ x.barcode }}
          </label>
        </div>
    </div>
    
  </div>
  

  <div class="all-info">
    check information below:

    <div id="reader-info">
      {{ reader | json }}
    </div>
    <div id="book-info">
      {{ borrowed | json }}
    </div>
  </div>

  <button class="btn btn-info" (click)="return()">Borrow Book</button>
</div>
