<!-- todo: modal -->

<div class="app-wrapper">
  <div class="py-5 text-center">
    <h1 class="display-4">Return Book</h1>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="reader">Reader username</label>
      <input type="text" id="reader" class="form-control"
             [(ngModel)]="readerId" placeholder="username" (blur)="search_reader()">
    </div>
  </div>

  <label class="mr-lg-auto" for="borrowed">Borrowed Books</label>
  <select class="custom-select mr-lg-6" id="borrowed">
    <option *ngFor="let x of borrowed" class="form-check-label" value="{{ x.id }}">
      {{ x | json }}
    </option>
  </select>


  <div class="all-info">
    check information below:

    <div id="reader-info">
      {{ reader | json }}
    </div>
  </div>

  <button class="btn btn-info" (click)="click_return()">Return Book</button>
</div>
