
<!-- <html>
<head></head> -->
<!-- <div class="inputgroup">
  <div class="py-5 text-center">
    <h1 class="display-4">Book Search</h1>
  </div>
</div> -->
<!-- <body> -->
<div class="container">
  <input type="text" 
	       placeholder="Search..."
         [(ngModel)]="search_text"
         (keyup.enter)="onClick()">
  <div class="search"></div>
</div>

     <!-- 书籍详情 -->
  <!-- <div *ngIf="selectedbook"></div>
    <p>
      <ngb-alert [dismissible]="true" type='info' (close)="closeAlert()">
        <strong>{{selectedbook.title|uppercase}}</strong> <span class="text">
          {{selectedbook.Summary}}
        </span>

      </ngb-alert>
    </p>
  </div> -->
  <div style="text-align:center;margin:50px 0;
       font:normal 14px/24px 'MicroSoft YaHei';
       color:#ffffff">
    <div *ngIf="books">
      <div class="table-responsive table-hover">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>ISBN</th>
              <th>Author</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of books" (click)="onSelect(x)" [class.selected]="x===selectedbook">
              <td><a routerLink="/detail/{{x.ISBN}}">{{x.Title}}</a></td>
              <td>{{x.ISBN}}</td>
              <td>{{x.Author}}</td>
              <td>{{x.Date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<!-- </body>
</html> -->