<div class="app-wrapper">
  <div class="py-3 text-center">
    <h1 class="display-4">Change Password</h1>
  </div>

  <div class="" id="form">
    <div class="form-group">
      <label for="old-password">Please input old password</label>
      <input type="password" class="form-control" name="old-psw" id="old-password"
            [(ngModel)]="old_pwd"
            placeholder="Please input old password">
    </div>
    <div class="form-group">
      <label for="new-password1">Please input new password</label>
      <input type="password" class="form-control" name="new-psw1" id="new-password1"
            [(ngModel)]="new_pwd1"
            placeholder="Please input new password">
    </div>
    <div class="form-group">
      <label for="new-password2">Please input new Password Again</label>
      <input type="password" class="form-control" name="new-psw2" id="new-password2"
            [(ngModel)]="new_pwd2"
            placeholder="Please input new Password Again">
    </div>
    <button type="button" (click)="change_password()"
      class="btn btn-primary" [disabled]="submit_available()">
      Submit
    </button>
  </div>

</div>
