<ng-template #registertModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="submit-modal-title">Add new {{ managedRole }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" [formControl]="requiredFormControl"
             [errorStateMatcher]="matcher" [(ngModel)]="addAccount.username" required>
      <!--<mat-hint>Username should be the phone of user!</mat-hint>-->
      <mat-error *ngIf="requiredFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Password" [formControl]="requiredFormControl"
             [errorStateMatcher]="matcher" [(ngModel)]="addPassword" required>
      <mat-error *ngIf="requiredFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput type="email" placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher" [(ngModel)]="addAccount.email" required>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Nickname" [(ngModel)]="addAccount.nickname">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Address" [(ngModel)]="addAccount.address">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Slogan" [(ngModel)]="addAccount.slogan">
    </mat-form-field>


    <button type="button" class="btn btn-info" (click)="submit_register()">add Account</button>
  </div>
</ng-template>

<div class="app-wrapper">
  <div>
    <h4 class="title">Manage {{ managedRole }}</h4>
    <!--<p class="category"></p>-->

    <div class="row">
      <div class="input-group col-md-6">
        <input type="text" class="form-control" placeholder="search account" [(ngModel)]="searchText">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="search_user()" placement="top" ngbTooltip="search {{ managedRole }}">
            Search
          </button>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-info" placement="top" ngbTooltip="add {{ managedRole }}" (click)="modalService.open(registertModal)">
          <i class="fa fa-plus-square"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="content table-responsive table-full-width" *ngIf="searched">
    <hr>
    <table class="table table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Nickname</th>
        <th scope="col">Address</th>
        <th scope="col">Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of data; let i = index; first as isFirst" ngbPopover="slogan: {{x.slogan}}">
        <th scope="row">{{i}}</th>
        <td>{{x.email}}</td>
        <td *ngIf="managedRole==='reader'"><a routerLink="/librarian/reader/profile/{{x.username}}">{{x.username}}</a></td>
        <td *ngIf="managedRole==='librarian'">{{x.username}}</td>
        <td>{{x.nickname}}</td>
        <td>{{x.address}}</td>
        <td>
          <button type="button" class="btn btn-sm" (click)="reset_password($event)" ngbTooltip="reset password">
            <i class="fa fa-edit"></i>
          </button>
          <!--&nbsp;-->
          <!--<button type="button" class="btn btn-sm" (click)="remove_user($event)">-->
            <!--<i class="fa fa-eraser" aria-hidden="true"></i>-->
          <!--</button>-->
          &nbsp;
          <button type="button" class="btn btn-sm" routerLink="/librarian/reader/borrowed/{{x.username}}"
                  *ngIf="managedRole==='reader'" ngbTooltip="Borrowed record">
            <i class="fa fa-paperclip"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

